@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    25% {
        transform: translate(40px, -40px) scale(1.1);
    }

    50% {
        transform: translate(-20px, 40px) scale(0.9);
    }

    75% {
        transform: translate(-30px, -30px) scale(1.05);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

@keyframes blob-reverse {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    25% {
        transform: translate(-40px, 40px) scale(1.1);
    }

    50% {
        transform: translate(20px, -40px) scale(0.9);
    }

    75% {
        transform: translate(30px, 30px) scale(1.05);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-2deg);
    }

    40% {
        transform: rotate(2deg);
    }

    60% {
        transform: rotate(-1deg);
    }

    80% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.animate-wiggle {
    animation: wiggle 0.5s ease-in-out;
}

.animate-blob {
    animation: blob 15s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
}

.animate-blob-reverse {
    animation: blob-reverse 20s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
}

.animation-delay-1000 {
    animation-delay: 1s;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-3000 {
    animation-delay: 3s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

.dot-grid {
    background-image: radial-gradient(circle at 1px 1px, rgba(0, 0, 0, 0.202) 1.5px, transparent 0);
    background-size: 64px 64px;
    background-position: 0 0;
}

.dark .dot-grid {
    background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.2) 1.5px, transparent 0);
}